*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2.5rem;
    font-family: 'Antonio', sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(237, 185, 122);
}
.ulNav{
    display: flex;
    justify-content: center;
}
.ulNav li{
    font-size: 1.2rem;
    background-color: rgb(126, 163, 157);
    margin-right: 1%;
    list-style-type: none;
    padding: 0 20px;
}
.ulNav li:hover{
   background-color: bisque;
}
/* .sectionAnimales{
    display: flex;
    justify-content: center;
}
.sectionAnimales div{
    margin-left: 1%;
} */
p{
    font-size: 1.2rem;
}
.sectionFrase{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(112, 122, 89);
}
.sectionFrase p{
    width: 80%;
    font-size: 1.5rem;
}
.imgAnimales{
    width: 100%;
}
